<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>
    
    <%- messages() %>
    
    <form id="loginForm" action="/account/login" method="post">
      <fieldset>
        <label for="account_email">Email Address</label>
        <input type="email" name="account_email" id="account_email" required value="<%= locals.account_email %>">
        <label for="account_password">Password</label>
        <input type="password" name="account_password" id="account_password" required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*(),.?:{}|<>]).{12,}$">
        <button type="submit">Login</button>
      </fieldset>
    </form>
    
    <p>No account? <a href="/account/register">Sign-up</a></p>