<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="CSE Motors - Your one-stop shop for all your motor vehicle needs. Find the best cars, trucks, and SUVs.">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= title %> | CSE Motors</title>
    <link rel="stylesheet" href="/css/styles.css" media="screen">
</head>