<div class="inventory-management">
    <h1>
        <%= title %>
    </h1>
    <%- messages() %>

        <p>Welcome to the Inventory Management View. From here you can manage classifications and inventory items.</p>

        <h2>Management Options</h2>
        <ul>
            <li><a href="/inv/add-classification" title="Add New Classification">Add New Classification</a></li>
            <li><a href="/inv/add-inventory" title="Add New Inventory Item">Add New Inventory Item</a></li>
        </ul>
</div>