<div class="inventory-management">
    <h1>
        <%= title %>
    </h1>
    <%- messages() %>

        <p>Welcome to the Inventory Management View. From here you can manage classifications and inventory items.</p>

        <h2>Management Options</h2>
        <ul>
            <li><a href="/inv/add-classification" title="Add New Classification">Add New Classification</a></li>
            <li><a href="/inv/add-inventory" title="Add New Inventory Item">Add New Inventory Item</a></li>
        </ul>

        <h2>Manage Inventory</h2>
        <p>Select a classification from the list to see the items belonging to the classification.</p>
        <%- classificationSelect %>
            <table id="inventoryDisplay"></table>
            <noscript>JavaScript must be enabled to use this page.</noscript>
            <script src="../../js/inventory.js"></script>
</div>